@keyframes wordColorChange {
  0% {
    color: red;
  }
  50% {
    color: orange;
  }
  100% {
    color: green;
  }
}

.colorfulWord {
  animation: wordColorChange 2s infinite;
  font-weight: bold;
}